{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            Account Settings - Notifications
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            <a class="nav-link ml-0" href="{% url 'profile' %}">Profile</a>
            <a class="nav-link" href="{% url 'security' %}">Security</a>
            <a class="nav-link active" href="{% url 'notifications' %}">Notifications</a>
        </nav>
        <hr class="mt-0 mb-4" />
        <div class="row">
            <div class="col-lg-8">
                <!-- Email notifications preferences card-->
                <div class="card card-header-actions mb-4">
                    <div class="card-header">
                        Email Notifications
                        <div class="custom-control custom-switch mt-n2">
                            <input class="custom-control-input" id="emailToggleSwitch" type="checkbox" checked />
                            <label class="custom-control-label" for="emailToggleSwitch"></label>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <!-- Form Group (default email)-->
                            <div class="form-group">
                                <label class="small mb-1" for="inputNotificationEmail">Default notification
                                    email</label>
                                <input class="form-control" id="inputNotificationEmail" type="email"
                                    value="name@example.com" disabled />
                            </div>
                            <!-- Form Group (email updates checkboxes)-->
                            <div class="form-group mb-0">
                                <label class="small mb-1">Choose which types of email updates you receive</label>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="checkAccountChanges" type="checkbox"
                                        checked />
                                    <label class="custom-control-label" for="checkAccountChanges">Changes made to your
                                        account</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="checkAccountGroups" type="checkbox"
                                        checked />
                                    <label class="custom-control-label" for="checkAccountGroups">Changes are made to
                                        department you&apos;re part of</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="checkSecurity" type="checkbox" checked
                                        disabled />
                                    <label class="custom-control-label" for="checkSecurity">Security alerts</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Notifications preferences card-->
                <div class="card">
                    <div class="card-header">Notification Preferences</div>
                    <div class="card-body">
                        <form>
                            <!-- Form Group (notification preference checkboxes)-->
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" id="checkAutoGroup" type="checkbox" checked />
                                    <label class="custom-control-label" for="checkAutoGroup">Automatically subscribe to
                                        department notifications</label>
                                </div>

                            </div>
                            <!-- Submit button-->
                            <button class="btn btn-danger-soft text-danger">Unsubscribe from all notifications</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}